.body{
    width: 370px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.icon{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 145px -10px 145px;
}

.title{
    display: grid;
    font-size: 20px;
    margin-top: -10px;
    height: 50px;
    margin-bottom: 10px;
}

.message{
margin-bottom: 8px;
}

.name{
    margin-bottom: 8px;
}

.message1{
    margin-bottom: 8px;
}

.buttons{
    width: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

.undo{
    margin-left: 20px;
    width: 130px;
    height: 10mm;
    background-color: rgb(188, 188, 188);
    font-size: 20px;
}

.delete{
    width: 130px;
    height: 10mm;
    font-size: 20px;
}