<div class="body">

    <button mat-flat-button color="primary" class="add-user" (click)="openDialog()"><b>Aggiungi nuovo Dottore</b></button> 

    <div class="scheda">
        <div class="title"><b>Struttura Dottore</b></div>

        <div class="contenuto">
            <form  [formGroup]="schedaDoc">
                
                <mat-form-field appearance="outline" class="formaInput">
                    <mat-label>NOME</mat-label>
                    <input matInput type="text" name="name" formControlName="name">
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="formaInput">
                    <mat-label>INFO</mat-label>
                    <input matInput type="text" name="contDetails" formControlName="contDetails">
                </mat-form-field>
                
            </form>
        </div>
        
    </div>
</div>