<div class="body">

    <button mat-flat-button color="primary" class="add-user" (click)="add()"><b>Aggiungi nuova Stuttura Esterna</b></button> 

    <div class="scheda">
        <div class="title"><b>Struttura Esterna</b></div>

        <div class="contenuto">
            <form  [formGroup]="schedaDoc">
                
                <mat-form-field appearance="outline" class="formaInput">
                    <mat-label>NUMERO RIFERIMENTO</mat-label>
                    <input matInput type="text" name="refNumber" formControlName="refNumber">
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="formaInput">
                    <mat-label>RESIDENZA</mat-label>
                    <input matInput type="text" name="residence" formControlName="residence">
                </mat-form-field>
                
            </form>
        </div>
        
    </div>
</div>