<div class="card" (click)="goToDetail()">


  <ng-container *ngIf="user.imageDTO; else dog">
    <div class="image" [style.background]="'url(../../../../assets/images/'+user.imageDTO.name+') no-repeat center / cover'"></div> 
  </ng-container>
  <ng-template #dog>
    <div class="image" style="background: url('https://material.angular.io/assets/img/examples/shiba1.jpg') no-repeat center / cover;"></div> 
  </ng-template>
  
    

  
    <div class="contenuto">
        <div class="name"><b>{{ user.name }}</b></div>
        <div class="surname"><b>{{user.surname}}</b></div>
        <div class="site"><b><ng-container *ngIf="user.site=='COP_SORG_IGL'; else viaMonte">
            VIA IGLESIAS
          </ng-container>
          <ng-template #viaMonte>
            VIA DEL MONTE
          </ng-template></b></div>
        <div class="Bdate">{{ formattedBirthDate }}</div>
        <div class="id">{{user.idGhost}}</div>
    </div>
</div>