<div class="body">
    <button mat-flat-button color="primary" class="add-user" (click)="update()"><b>Aggiorna ospite</b></button>

    <div class="scheda">
        <div class="title"><b>ALLE SORGENTI - PROGETTO A</b></div>
        <div class="sub-title"><b>SCHEDA NUOVO OSPITE</b></div>

        <div class="contenuto">
            <form [formGroup]="scheda">

                <mat-form-field appearance="outline" class="formaInput">
                    <mat-label>NOME</mat-label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>

                <mat-form-field appearance="outline" class="formaInput">
                    <mat-label>COGNOME</mat-label>
                    <input matInput type="text" formControlName="surname">
                </mat-form-field>

                <mat-form-field appearance="outline" class="formaInput">
                    <mat-label>STATO DI NASCITA</mat-label>
                    <input matInput type="text" formControlName="nationState">
                </mat-form-field>

                <mat-form-field appearance="outline" class="formaInput">
                    <mat-label>NAZIONALITÀ</mat-label>
                    <input matInput type="text" formControlName="nationality">
                </mat-form-field>

                <mat-form-field appearance="outline" class="formaInput">
                    <mat-label>DATA DI NASCITA</mat-label>
                    <input matInput type="date" formControlName="birthDate">
                </mat-form-field>

                <mat-form-field appearance="outline" class="formaInput">
                    <mat-label>CODICE FISCALE</mat-label>
                    <input matInput type="text" formControlName="codFiscal">
                </mat-form-field>

                <mat-form-field appearance="outline" class="formaInput">
                    <mat-label>DATA DI INGRESSO IN ITALIA</mat-label>
                    <input matInput type="date" formControlName="dateIngIta">
                </mat-form-field>

                <mat-form-field appearance="outline" class="formaInput">
                    <mat-label>DATA DI INGRESSO IN STRUTTURA</mat-label>
                    <input matInput type="date" formControlName="dateIngStrut">
                </mat-form-field>

                <mat-form-field appearance="outline" class="formaInput">
                    <mat-label>RESIDENZA</mat-label>
                    <mat-select formControlName="site">
                        <mat-option value="COP_SORG_IGL">VIA IGLESIAS</mat-option>
                        <mat-option value="COP_SORG_MONT">VIA DEL MONTE</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="formaInput">
                    <mat-label>ID VESTANET</mat-label>
                    <input matInput type="text" formControlName="idVestanet">
                </mat-form-field>

                <mat-form-field appearance="outline" class="formaInput" style="width: 170mm;">
                    <mat-label>SITUAZIONE GIURIDICA</mat-label>
                    <textarea matInput style="background-color: white;" formControlName="legalSituation"></textarea>
                </mat-form-field>

                <div style="display: flex; justify-content: space-between; width: 170mm;" *ngIf="user">

                    <div style="width: 77mm;">
                        <mat-form-field appearance="outline" style="width: 55mm;">
                            <mat-label>AVVOCATO</mat-label>
                            <mat-select formControlName="lawyerDTOList" [(ngModel)]="selectedLawyer">
                                <mat-option *ngFor="let lawyer of lawyers" [value]="lawyer">{{ lawyer.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button mat-flat-button color="primary" (click)="addLawyer(selectedLawyer)" class="addButton">ADD</button>

                        <div *ngIf="lawyersToAdd">
                            <div formArrayName="lawyerDTOList">
                                <div *ngFor="let lawyerControl of lawyersToAdd">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Nome Avvocato</mat-label>
                                        <input matInput [value]="lawyerControl.name">
                                    </mat-form-field>
                                    <button mat-button color="warn" (click)="removeLawyer(lawyerControl)" class="deleteButt">Elimina</button>
                                </div>
                            </div> 
                        </div> 
                    </div>

                    <div style="width: 77mm;">
                        <mat-form-field appearance="outline" style="width: 55mm;">
                            <mat-label>STRUTTURE PRECEDENTI</mat-label>
                            <mat-select formControlName="externalStructureDTOList" [(ngModel)]="selectedExternalStructure">
                                <mat-option *ngFor="let extStructure of extStructures" [value]="extStructure">{{ extStructure.refNumber }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button mat-flat-button color="primary" (click)="addExternalStructure(selectedExternalStructure)" class="addButton">ADD</button>

                        <div *ngIf="extStructuresToAdd">
                            <div formArrayName="externalStructureDTOList">
                                <div *ngFor="let externalStructureControl of extStructuresToAdd">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Codice Struttura</mat-label>
                                        <input matInput [value]="externalStructureControl.refNumber">
                                    </mat-form-field>
                                    <button mat-button color="warn" (click)="removeExternalStructure(externalStructureControl)" class="deleteButt">Elimina</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                
            </form>
        </div>
    </div>
</div>
