.body{
    display: grid;
    background-color: #C4C3CD;
    align-items: center;
    justify-content: center;
}

.add-user{
    margin-top: 10.5mm;
    height: 20mm;
    width: 300mm;
    font-size: 15px;
    background-color: #434764;
    color: white;
    margin-bottom: 10mm;
  }
  .add-user:hover{
    background-color: #3835DE;
  }
  .scheda{
    width: 300mm;
    height: 300mm;
    background-color: white;
    margin-bottom: 10mm;
  }
  
  
  .sub-title{
    margin-top: 10mm;
    padding: 5mm 75mm 0 75mm;
    font-size: 20px;
  }
  
  .contenuto{
    margin: 15mm 0 0 20mm;
    width: 300mm;
  }
  .message{
    font-style: italic;
    margin-bottom: 20px;
  }
  
  .formaInput{
    margin-right: 16mm;
    width: 77mm;
  }

  .addButton{
    width: 12mm; 
    margin-left: 5mm; 
    height: 15mm;
    font-size: 20px;
  }

  .deleteButt{
    margin-left: 2mm;
  }

  
.file-name{
  margin-bottom: -6mm;
}

.file{
  width: 300mm;
  height: 15mm;
  background-color:#3835DE;
  color: white;
  margin-bottom: 10mm;
  margin-top: 6mm;
}