.body {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: start;
    padding: 30px 0 20px 0;
    background-color: #C4C3CD;
}

.button{
  display: flex; 
  flex-wrap: wrap; 
  width: 210mm;
  margin-bottom: 10mm;
}

.create-pdf{
  height: 12mm;
  width: 102mm;
  margin-bottom: 4mm;
  font-size: 15px;
  background-color: #434764;
  color: white;
  margin-right: 6mm;
}

.create-pdf:hover{
  background-color: #3835DE;
}

.pdf-div{
  display: flex;
  width: 50mm;
  justify-content: space-evenly;
  align-items: center;
}



.update{
  width: 102mm;
  height: 12mm;
  font-size: 15px;
  background-color:#6d6da1;
}

.update:hover{
  background-color: #89899c;
}

.update-div{
  display: flex;
  width: 65mm;
  justify-content: space-evenly;
  align-items: center;
}



.disable{
  height: 12mm;
  width: 102mm;
  font-size: 15px;
  background-color: #b35959;
  color: white;
  margin-right: 6mm;
}

.disable:hover{
  background-color: red;
}

.enable{
  height: 12mm;
  width: 102mm;
  font-size: 15px;
  background-color: #65b359;
  color: white;
  margin-right: 6mm;
}

.enable:hover{
  background-color: rgb(17, 255, 0);
}


.delete{
  height: 12mm;
  width: 102mm;
  font-size: 15px;
  background-color: #b35959;
  color: white;
}

.delete:hover{
  background-color: red;
}

.scheda{
  width: 210mm;
  height: 296.8mm;
  background-color: rgb(255, 255, 255);
}

.logo{
  background: url('../../../utils/image/Logo.png') no-repeat center / cover;
    height: 30mm;
    width: 30mm;
    margin: 20px 0px 0px 35px;
}

.title{
  padding: 15mm 8mm 15mm 8mm;
  font-size: 30px;
}

.sub-title{
  margin-left: 45mm;
  font-size: 20px;
}

.contenuto{

  margin: 10mm 20mm 0 20mm;
}
p{
  font-size: 17px;
  margin-bottom: 15px;
}

.message{
  font-style: italic;
  margin-bottom: 20px;
}

.description{
  margin-top: -3mm;
  width: 170mm;
  font-size: 17px;
}