<div class="body" *ngIf="user">
    <div class="button">
        <button mat-flat-button class="create-pdf" (click)="convert()"><b>Esporta in pdf</b></button> 
        <div *ngIf="user.active">
            <button mat-flat-button class="disable" (click)="disable()"><b>Disabilita user</b></button> 
        </div>
        <div *ngIf="!user.active">
            <button mat-flat-button class="enable" (click)="enable()"><b>Riattiva user</b></button> 
        </div>
        
        <button mat-flat-button class="update" (click)="userUpdate()"><b>Aggiorna Dati Utente</b></button>
    </div>
    <div class="scheda" id="scheda">
        <div style="display: flex;">
            <div class="logo"></div>
            <div>
                <div class="title"><b>ALLE SORGENTI - PROGETTO A</b></div>
                <div class="sub-title"><b>SCHEDA OSPITE</b></div>
            </div>
        </div>
        <div class="contenuto">

            <p>ID OSPITE: <b>{{user.idGhost}}</b></p>

            <p>ID VESTANET: <b>{{user.idVestanet}}</b></p>

            <!--CODICE CUI--><p>CODICE CUI: <b>06QQXLZ</b></p>

            <p>COGNOME: <b>{{user.surname}}</b></p>

            <p>NOME: <b>{{user.name}}</b></p>

            <p>DATA DI NASCITA: <b>{{formattedBirthDate}}</b></p>

            <!--SESSO--><p>SESSO: <b>MASCHIO</b></p>

            <p>STATO DI NASCITA: <b>{{user.nationState}}</b></p>

            <p>CODICE FISCALE: <b>{{user.codFiscal}}</b></p>

            <p>DATA DI INGRESSO IN ITALIA: <b>{{formattedDateIngIta}}</b></p>

            <p>DATA DI ARRIVO IN STRUTTURA: <b>{{formattedDateIngStrut}}</b></p>

            <!--DATA FORMALIZAZZIONE C3--><p>DATA FORMALIZAZZIONE C3: <b>{{formattedDateIngStrut}}</b></p>

            <!--DATA SCADENZA PERMESSO DI SOGGIORNO--><p>DATA SCADENZA PERMESSO: <b>{{formattedDateIngStrut}}</b></p>
            
            <p>RESIDENZA: <b><ng-container *ngIf="user.site=='COP_SORG_IGL'; else viaMonte">
                VIA IGLESIAS 82
              </ng-container>
              <ng-template #viaMonte>
                VIA DEL MONTE 36
              </ng-template></b></p>

            <!--LINGUE--><p>LINGUE: <b>FRANCESE: A2; INGLESE: B1</b></p>

            <!--SCOLARIZAZZIONE--><p>SCOLARIZAZZIONE: <b>TEXT AREA</b></p>

            <p >SITUAZIONE GIURIDICA: <b>{{ user.legalSituation }}</b></p>
            
            <div *ngIf="user.lawyerDTOList.length>0">
                <ng-container *ngFor="let lawyer of user.lawyerDTOList">
                <!-- Assicurati che i dati degli avvocati siano strutturati correttamente -->
                <p>AVVOCATO: <b>{{ lawyer.name }}</b></p>
                <p><b>{{ lawyer.contDetails }}</b></p>
                </ng-container>
            </div>
            
                <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                <ng-container *ngIf="user.externalStructureDTOList">
                    <div *ngFor="let structure of user.externalStructureDTOList" style="width: 70mm">
                    <!-- Assicurati che i dati delle strutture esterne siano strutturati correttamente -->
                    <p>NR. RIF. : <b>{{ structure.refNumber}}</b></p>
                    <p>Residenza: <b>{{ structure.residence}}</b></p>
                    </div>
                </ng-container>
            </div> 
            
            <p>NOTE: <b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type speries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularisedpsum passages, </b></p>
             
            
        </div>
        
    </div>
</div>
<!--<mat-icon>cloud_download</mat-icon> TOODO-->