<div class="body" *ngIf="user">
    <div class="button">
        <button mat-flat-button class="create-pdf" (click)="convert()"><b>Esporta in pdf</b></button> 
        <div *ngIf="user.active">
            <button mat-flat-button class="disable" (click)="disable()"><b>Disabilita user</b></button> 
        </div>
        <div *ngIf="!user.active">
            <button mat-flat-button class="enable" (click)="enable()"><b>Riattiva user</b></button> 
        </div>
        
        <button mat-flat-button class="update" (click)="userUpdate()"><b>Aggiorna Dati Utente</b></button>
    </div>
    <div class="scheda" id="scheda">
        <div class="title"><b>ALLE SORGENTI - PROGETTO A</b></div>
        <div class="sub-title"><b>SCHEDA OSPITE</b></div>

        <div class="contenuto">

            <p>ID OSPITE: <b>{{user.id}}</b></p>   

            <p>NOME: <b>{{user.name}}</b></p>

            <p>COGNOME: <b>{{user.surname}}</b></p>

            <p>STATO DI NASCITA: <b>{{user.nationState}}</b></p>

            <p>NAZIONALITÀ: <b>{{user.nationality}}</b></p>

            <p>DATA DI NASCITA: <b>{{formattedBirthDate}}</b></p>

            <p>CODICE FISCALE: <b>{{user.codFiscal}}</b></p>

            <p>DATA DI INGRESSO IN ITALIA: <b>{{formattedDateIngIta}}</b></p>

            <p>DATA DI INGRESSO IN STRUTTURA: <b>{{formattedDateIngStrut}}</b></p>
            
            <p>RESIDENZA: <b>{{user.site}}</b></p>

            <p>ID VESTANET: <b>{{user.idVestanet}}</b></p>

            <p>SITUAZIONE GIURIDICA: {{ user.legalSituation }}</p>

            
            <div *ngIf="true">
                <div class="message">Avvocati:</div>
                <ng-container *ngFor="let lawyer of user.lawyerDTOList">
                <!-- Assicurati che i dati degli avvocati siano strutturati correttamente -->
                <p>AVVOCATO: <b>{{ lawyer.name }}</b></p>
                <p><b>{{ lawyer.contDetails }}</b></p>
                </ng-container>
            </div>
            
            <div class="message" *ngIf="user && user.externalStructureDTOList">
                Strutture precedenti:
            </div>
            <ng-container *ngIf="user.externalStructureDTOList">
                <div *ngFor="let structure of user.externalStructureDTOList">
                <!-- Assicurati che i dati delle strutture esterne siano strutturati correttamente -->
                <p>NUMERO RIFERIMENTO: <b>{{ structure.refNumber }}</b></p>
                <p>RESIDENZA: <b>{{ structure.residence }}</b></p>
                </div>
            </ng-container>
              
            
            
        </div>
        
    </div>
</div>
