.body {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: start;
    padding: 40px 0 20px 0;
    background-color: #C4C3CD;
}

.create-pdf{
  height: 20mm;
  width: 100mm;
  margin-bottom: 10mm;
  font-size: 15px;
  background-color: #434764;
  color: white;
  margin-right: 10mm;
}

.create-pdf:hover{
  background-color: #3835DE;
}

.disable{
  height: 20mm;
  width: 100mm;
  margin-bottom: 10mm;
  font-size: 15px;
  background-color: #b35959;
  color: white;
}

.disable:hover{
  background-color: red;
}


.enable{
  height: 20mm;
  width: 100mm;
  margin-bottom: 10mm;
  font-size: 15px;
  background-color: #65b359;
  color: white;
}

.enable:hover{
  background-color: rgb(17, 255, 0);
}


.scheda{
  width: 210mm;
  height: 297mm;
  background-color: white;
}

.title{
  margin: 20mm 47mm 20mm 47mm;
  font-size: 30px;
}

.sub-title{
  margin: 0 82mm 0 82mm;
  font-size: 20px;
}

.contenuto{

  margin: 15mm 20mm 0 20mm;
}
p{
  font-size: 17px;
  margin-bottom: 20px;
}

.message{
  font-style: italic;
  margin-bottom: 20px;
}
