.body {
    display: grid;
    width: 110mm;
    padding: 40px 0 50px 0;
    background-color: #C4C3CD;
}

.add-user{
  height: 20mm;
  width: 110mm;
  margin-bottom: 10mm;
  font-size: 15px;
  background-color: #434764;
  color: white;
}
.add-user:hover{
  background-color: #3835DE;
}
.scheda{
  width: 110mm;
  height: 80mm;
  background-color: white;
}

.title{
  margin: 11mm 20mm 0mm  ;
  font-size: 20px;
}

.contenuto{
  padding: 10mm 20mm 0 20mm;
}
.message{
  font-style: italic;
  margin-bottom: 20px;
}

.formaInput{
  margin-right: 16mm;
  width: 70mm;
}