

.add-user{
  margin-top: 10.5mm;
  height: 20mm;
  width: 210mm;
  font-size: 15px;
  background-color: #434764;
  color: white;
}
.add-user:hover{
  background-color: #3835DE;
}
.scheda{
  width: 210mm;
  height: 350mm;
  background-color: white;
  margin-bottom: 10mm;
}


.sub-title{
  margin-top: 10mm;
  padding: 10mm 75mm 0 75mm;
  font-size: 20px;
}

.contenuto{
  padding: 10mm 20mm 0 20mm;
  width: 100%;
}
.message{
  font-style: italic;
  margin-bottom: 20px;
}

.formaInput{
  margin-right: 16mm;
  width: 77mm;
}

.addButton{
  width: 12mm; 
  margin-left: 5mm; 
  height: 15mm;
  font-size: 20px;
}

.deleteButt{
  margin-left: 2mm;
}